   

/*navbar styles */  
/*toggler styles */ 
.myknot-logo-nav{
    width: 9rem;
    height: 4rem;
}
@media only screen and (max-width: 450px){
    .myknot-logo-nav{
        width: 8rem;
        height: 4.1rem;
}
}
@media only screen and (max-width: 450px){
    .ml-auto, .mx-auto {
    margin-left: auto!important;
    margin-top: 1rem;
}
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: .5rem;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("images/nav-icon.png");
    height:27px;
}
.navbar-light .navbar-toggler {
    color: #54a0f1;
    font-size: 1.75rem;
    border-color: transparent;
}
.font-weight-bold-1{
    font-weight: 637!important;
    font-size: 13px;
}
.font-weight-bold-1:hover{
    font-weight: 637!important;
    font-size: 13px;
    background-color: #54a0f1;
    color:white;
}
/*toggler styles close*/ 
.culinary-logo-nav{
  height:50px;
}
@media only screen and (max-width: 380px){
  .culinary-logo-nav{
  height:36px;
  margin-left: 9.5rem;
}
}
@media only screen and (max-width: 330px){
  .culinary-logo-nav{
  height:36px;
  margin-left:8rem;
}
}
@media only screen and (max-width: 365px){
  .culinary-logo-nav{
  height:36px;
  margin-left:10rem;
}
}
.nav-look{
      background-color: white;
      box-shadow: 0 8px 8px -10px black;
}
@media only screen and (max-width: 480px){
    .nav-look{
      background-color: white;
      box-shadow: 0 8px 8px -10px black;
} 
}
.navbar-light .navbar-brand {
     color: #ff8c00;
 
}
.navbar-light .navbar-brand:hover {
      color: #ff8c00;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      transition: 0.2s ease;
          
}
.navbar-brand {
      display: inline-block;
      padding-top: .3125rem;
      padding-bottom: .3125rem;
      line-height: inherit;
      white-space: nowrap;
      padding-left:1.4rem;
}
@media only screen and (max-width: 420px){
  .navbar-brand {
      display: inline-block;
      padding-top: .3125rem;
      padding-bottom: .3125rem;
      font-size: 2.25rem;
      line-height: inherit;
      white-space: nowrap;
      padding-left: 0.4rem;
}
}
@media only screen and (max-width: 380px){
  .navbar-brand {
      display: inline-block;
      padding-top: .3125rem;
      padding-bottom: .3125rem;
      font-size: 2.25rem;
      line-height: inherit;
      white-space: nowrap;
      padding-left: 4rem;
}
}

@media only screen and (max-width: 361px){
  .navbar-brand {
      display: inline-block;
      padding-top: .3125rem;
      padding-bottom: .3125rem;
      font-size: 2.25rem;
      line-height: inherit;
      white-space: nowrap;
      padding-left:4.2rem;
}
}

@media only screen and (max-width: 325px){
  .navbar-brand {
      display: inline-block;
      padding-top: .3125rem;
      padding-bottom: .3125rem;
      font-size: 2.25rem;
      line-height: inherit;
      white-space: nowrap;
      padding-left:3rem;
}
}



.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
      color: black;
  
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link:hover {
      color: #00bfff;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.0);
      transform: scale(1.0);
      transition: 0.3s ease;
  
}
.navbar-light .navbar-nav .nav-link {
      color: #555;
}
.navbar-light .navbar-nav .nav-link:hover {
      color: #00bfff;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.03);
      transition: 0.3s ease;
}
.dropdown-item{
    color:black;
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
    border: 1px solid black;
    margin-bottom: 15px;
}
.dropdown-menu{
background-color: white;
}

/*b2b image*/
.b2b-image{
    padding-left: 12rem;
    padding-right: 12rem;
}
@media only screen and (max-width: 1030px){
    .b2b-image{
    padding-left: 7rem;
    padding-right: 7rem;
}
}
@media only screen and (max-width: 550px){
    .b2b-image{
    padding-left: 0rem;
    padding-right: 0rem;
}
}
@media only screen and (max-width: 450px){
    .b2b-image{
    padding-left: 0rem;
    padding-right: 0rem;
}
}
@media only screen and (max-width: 380px){
    .b2b-image{
    padding-left: 0rem;
    padding-right: 0rem;
}
}
/*navigate to top button */

#button {
          display: inline-block;
          background-color: #00bfff;
          
          width: 50px;
          height: 50px;
          text-align: center;
          border-radius: 4px;
          position: fixed;
          bottom: 30px;
          right: 30px;
          transition: background-color .3s, 
            opacity .5s, visibility .5s;
          opacity: 0;
          visibility: hidden;
          z-index: 2000;
        }
        #button::after {
          content: "\f077";
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
          font-size: 2em;
          line-height: 50px;
          color: #fff;
        }
        #button:hover {
          cursor: pointer;
          background-color: #333;
          
        }
        #button::after:hover {
          content: "\f077";
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
          font-size: 2em;
          line-height: 50px;
          color:  #00bfff;
        }
        #button:active {
          background-color: #555;
        }
        #button.show {
          opacity: 1;
          visibility: visible;
        }




.content{
    background-image: #457fca;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5691c8, #457fca); 
}
.content-heading{
    font-family: 'Barlow', sans-serif;
            font-weight: bolder;
            font-size: 2.4rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-shadow: 1px 1px 4px #000000;
            color: white;
}
.heading-2{
    margin-top: 2rem;
    margin-left: 1rem;
    font-family: 'Arimo', sans-serif;
}
.unordered-list{
    margin-top: 2rem;
    line-height: 2.3;
    font-family: 'Arimo', sans-serif;

}
.animation-heading{
    text-shadow: 1px 1px 5px #000000;
    background-image: #457fca;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5691c8, #457fca); 
    color: white;
    background-color: #00bfff;
    margin-bottom: 1.2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
 
}
.hidden{
    font-family: 'Arimo', sans-serif;
    line-height: 1.9;
}
.container-mod{
    margin-right: 4rem;
    margin-left: 4rem;
}
@media only screen and (max-width: 550px){
    .container-mod{
    margin-right: 1rem;
    margin-left: 1rem;
} 
}
        /* FOOTER STYLES*/
.pl-5, .px-5 {
    padding-left: 4rem!important;
}         
.pl-5, .px-5-bottom {
    padding-left: 3rem!important;
    padding-top: 1rem;
}   
.pt-5, .py-5 {
    padding-top: 1rem!important;
}
.pr-5, .px-5 {
padding-right: 1.5rem!important;
}
.mb-3, .my-3 {
    margin-bottom: 1.5rem!important;
}
.mb-5, .my-5 {
     margin-bottom: 0rem!important;
    }          
.pb-5, .py-5 {
    padding-bottom: 0rem!important;
}
.copyright{
    margin-bottom: 1rem;
    }
.address{
    font-size: 17px;
}
.p-2 {
    padding-top: 0.5rem!important;
    padding-bottom: 1rem;
}
.mx-auto-foot {
    margin-left: auto!important;
    margin-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.12rem;
}
.myknot-logo-footer{
    width: 7.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.container-fluid-foot {
    background-color: black;
  
}
.footer-links{
    cursor: pointer;
    color: white;
}
.footer-links:hover{
    cursor: pointer;
    color: #00bfff;
}
.top-part {
    background-color:black;
}

.center-content {
    margin-top: 120px;
    margin-bottom: 120px
}

@media (max-width: 600.98px) {
    .row-foot{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -11px;
    margin-left: -40px;
    }
}
.btn-pink {
    border-radius: 0;
    background-color: #FF4081;
    color: #fff !important;
    letter-spacing: 2px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px
}

.btn-pink:hover {
    background-color: #F50057
}

.line {
    border-top: 2px solid  #00bfff;
    width: 100% !important;
}

.fa-mobile {
    font-size: 20px
}

.grey-text {
    color:  #00bfff
}
.details{
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
     color:white;
     font-family: 'Roboto Condensed', sans-serif;
}
.details:hover{
    color: #00bfff;
}
@media (max-width: 385px) {  
    .details{
    text-decoration: none;
    font-weight: bold;
    font-size: small;
     color:white;
     font-family: 'Roboto Condensed', sans-serif;
}
}

