

.navbar {
transition: all 0.4s;
}
.myknot-logo-nav{
width: 9rem;
height: 4rem;
}
@media only screen and (max-width: 450px){
.myknot-logo-nav{
width: 8rem;
height: 4.1rem;
}
}
.font-weight-bold-1{
font-weight: 637!important;
padding: 0.9rem;
font-size: 13px;
}
.font-weight-bold-1:hover{
font-weight: 637!important;
padding: 0.9rem;
font-size: 13px;
background-color: #54a0f1;
color:white;
}
.dropdown-toggle::after {
display: inline-block;
width: 0;
height: 0px;
margin-bottom: -3px;
margin-left: .255em;
vertical-align: .255em;
content: "";
border-top: .3em solid;
border-right: .3em solid transparent;
border-bottom: 0;
border-left: .3em solid transparent;
}
.navbar .nav-link {
color: #ffffff;
cursor: pointer;
}
.navbar-toggler{
padding: .25rem .75rem;
font-size: 1.75rem;
line-height: 1;
color: #54a0f1;
border: 1px solid transparent;
border-radius: 0.25rem;

}
.navbar .nav-link {
color: #ffffff;
cursor: pointer;
font-size: 1rem;
}
.service{
padding-bottom: .5rem;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
color: black ;
transition: 0.4s;
text-decoration: none;
}

.navbar .navbar-brand {
color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
background: #fff;
box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
box-shadow: 0 8px 8px -10px black;
}

.navbar.active .nav-link {
color: #555;
padding-bottom: 0.8rem;
font-size: 1rem;
}
.navbar-nav .dropdown-menu {
position: static;
float: none;
border: 1px solid black;
margin-bottom: 15px;
}
.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
color: #65cff3 ;
transition: 0.3s;
-webkit-transform: scale(1.0);
-ms-transform: scale(1.0);
transform: scale(1.05);
text-decoration: none;
}

.navbar.active .navbar-brand {
color: black;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
.navbar {
background: #fff;
}

.navbar .navbar-brand, .navbar .nav-link {
color: #555;
font-size: 1rem;
}
}
.ml-auto, .mx-auto {
margin-left: auto!important;
margin-top: 0.7rem;
padding-left: 0.5rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
}
.mx-auto-foot {
  margin-left: auto!important;
  margin-top: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.12rem;
}
.nav-100{
background-image: url("images/architecture.jpg");
display: inline-block;
width: 100%;
font-size: 0;
line-height: 0;
vertical-align: middle;
background-size: 100%;
background-position: 50% 50%;
background-repeat: no-repeat;
height: 100vh;
/* fallback for old browsers */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.display-4{
margin-top: 12rem;
font-size: 4rem;
font-family: 'Roboto Condensed', sans-serif;
text-shadow: 3px 3px 15px #000000;
}

@media only screen and (max-width: 1030px){
.nav-100{
height:auto;

}
}
@media only screen and (max-width: 550px){
.nav-100{
height:auto;

}
.display-4{
margin-top: 5.5rem;
font-size: 2rem;
margin-bottom: 2.5rem;
}
.under-display{
font-size: 1.3rem;
}
}
@media only screen and (max-width: 1030px){

.display-4{
margin-top: 8rem;
font-size: 3rem;
margin-bottom: 6rem;
}
}
@media only screen and (max-width: 450px){
.nav-100{
height:auto;

}
.display-4{
margin-top: 5.1rem;
font-size: 2rem;
margin-bottom: 1rem;
}
.under-display{
font-size: 1.3rem;
}
}
@media only screen and (max-width: 380px){
.nav-100{
height:auto;

}
.display-4{
margin-top: 3.5rem;
font-size: 2rem;
margin-bottom: 1rem;
}
.under-display{
font-size: 1rem;
}

}
@media only screen and (max-width: 330px){
.nav-100{
height:auto;

}
.display-4{
margin-top: 1rem;
font-size: 1.5rem;
margin-bottom: 0rem;
}
.under-display{
font-size: 1rem;
}
}
.pt-5, .py-5 {
padding-top: 1rem!important;
}
.pt-3, .py-3 {
padding-top: 0.5rem!important;
}
.pt-3, .py-3 {
padding-bottom: 0rem!important;
}

/* 
ABOUT US 

*/
.about-us-heading{
    font-family: 'Barlow', sans-serif;
    font-weight: bolder;
    font-size: 2.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-shadow: 1px 1px 4px #000000;
    border-bottom: 2px solid #ffffff;
}
.container-mod{
    width: 100%;
    padding-right: 8rem;
    padding-left: 8rem;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Barlow', sans-serif;
font-weight:500;
background-image: #457fca;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
@media only screen and (max-width: 550px){
    .container-mod{
    width: 100%;
    padding-right: 4rem;
    padding-left: 4rem;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Barlow', sans-serif;
font-weight:500;
background: #457fca;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
}
@media only screen and (max-width: 500px){
    .container-mod{
        width: 100%;
padding-right: 2rem;
padding-left: 2rem;
margin-right: auto;
margin-left: auto;
font-family: 'Barlow', sans-serif;
font-weight: 500;
background: #457fca;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5691c8, #457fca); 
}
.about-us-heading {
    font-family: 'Barlow', sans-serif;
    font-weight: bolder;
    font-size: 2.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-shadow: 1px 1px 4px #000000;
    border-bottom: 2px solid #ffffff;
}
}
.pt-5, .py-5 {
    padding-top: 1rem!important;
}

#button {
  display: inline-block;
  background-color: #00bfff;
  
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 2000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
  
}
#button::after:hover {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color:  #00bfff;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/*
*
* ==========================================
* CARDS FLIP
* ==========================================
*
*/

.services-heading{
    font-family: 'Barlow', sans-serif;
    font-weight: bolder;
    font-size: 2.4rem;
    padding-top: 1rem;
    text-shadow: 1px 1px 2px #000000;
    padding-bottom: 1rem;
    color: black;
    border-bottom: 2px solid #00bfff;
    margin-left: 7rem;
    margin-right: 7rem;
    
}
.services-desc{
margin-top: 1rem;
margin-left: 7rem;
margin-right: 7rem;
color: black;
font-size: 1rem;
font-family: 'Barlow', sans-serif;
}
@media only screen and (max-width: 500px){
.services-heading{
    font-family: 'Barlow', sans-serif;
    font-weight: bolder;
    font-size: 2.4rem;
    padding-top: 1rem;
    text-shadow: 1px 1px 2px #000000;
    padding-bottom: 1rem;
    color: black;
    border-bottom: 2px solid  #00bfff;
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.services-desc{
margin-left: 2rem;
margin-right: 2rem;
color: black;
font-size: 1rem;
font-family: 'Barlow', sans-serif;
}
}
@media (min-width: 1200px){
.container {
max-width: 1440px;
}
}
@media (min-width: 992px){
.container {
max-width: 1300px;
}
}
@media (min-width: 768px){
.container {
max-width: 988px;
}
}
@media (min-width: 576px){
.container {
max-width: 1800px;
}

}

.mt-2, .my-2 {
margin-top: 0rem!important;
margin-bottom: 0rem;
background-color: white; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
img{
height:150px;
width:100%;
}
.card {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
border-radius: .25rem;
margin: 1rem;
margin-bottom: 2rem;
height: 85%;
}
@media only screen and (max-width: 450px){
.card{
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
border-radius: .25rem;
margin: 1rem;
margin-left: 2rem;
margin-right: 2rem;
margin-bottom: 2rem;
}
}
.item{
padding-left:5px;
padding-right:5px;
}
.item-card{
transition:0.5s;
cursor:pointer;
}
.item-card-title{  
font-size:15px;
transition:1s;
cursor:pointer;
}
.item-card-title i{  
font-size:15px;
transition:1s;
cursor:pointer;
color:#ffa710
}
.card-title{
color:#2159f7;
font-weight: bold;
}
.card-title i:hover{
transform: scale(1.25) rotate(100deg); 
color:#18d4ca;

}
.card:hover{
transform: scale(1.05);
transition: 0.4s;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
.card-text{ 
padding-bottom: 1rem;
padding-left: 0.7rem;
padding-right: 0.5rem;
color: black;
}

.card::before, .card::after {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
transform: scale3d(0, 0, 1);
transition: transform .3s ease-out 0s;
background: rgba(255, 255, 255, 0.1);
content: '';
pointer-events: none;
}
.card::before {
transform-origin: left top;
}
.card::after {
transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
transform: scale3d(1, 1, 1);
}

/*TESTIMONIALS*/
.test-heading{
text-shadow: 1px 1px 4px #000000;
font-family: 'Barlow', sans-serif;
font-weight: bolder;
font-size: 2.4rem;
margin-top: 0.5rem;

}
@media only screen and (max-width: 450px){
    .test-heading{
        text-shadow: 1px 1px 4px #000000;
        font-family: 'Barlow', sans-serif;
        font-weight: bolder;
        font-size: 2.4rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
}
.quotes{
    display: inline-block;
    padding: 0rem 3rem;
    align-items: center;
    min-height: 70vh;
    margin-bottom: 2rem;

}


}
.page-width {
  margin: auto;
}
.text-left {
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
}
.cite {
    text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}
.testimonials{
    background: #2c3e50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

padding-top: 1rem;


}
.quotes{


    display: flex;
    padding: 0rem 3rem;
    align-items: center;
    min-height: 70vh;

}

.quotes-slide {
  width: 33%;
  padding-top: 1rem;
  padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
  background-color: white;
  opacity: .4;
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px #d5d5d5;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  transition: all .5s ease;
  outline: none;
}

.quotes-slide--active {
    transform: scale(1.2);
    z-index: 10;
    opacity: 1;
    border: none;
    box-shadow: 1px 0px 10px 5px #eaeaea;
    color: #222222;
}
@media (max-width: 600.98px) {

.quotes{
    display: inline-block;
    padding: 0rem 3rem;
    align-items: center;
    min-height: 70vh;
    margin-bottom: 2rem;

}
    .quotes-slide {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
  background-color: white;
  opacity: .4;
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px #d5d5d5;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  transition: all .5s ease;
  outline: none;
}
.quotes-slide--active {
    transform: scale(1.1);
    z-index: 10;
    opacity: 1;
    border: none;
    box-shadow: 1px 0px 10px 5px #eaeaea;
    color: #222222;
}
}
blockquote {
  margin: 0;
}
cite{
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
}
cite::before {
    content: '\2014 \0020';
}
.icon {
  width: 25px;
  height: 25px;
  fill: #1a73e8;
}

/* FOOTER STYLES*/

.pl-5, .px-5 {
padding-left: 4rem!important;
}

.pl-5, .px-5-bottom {
padding-left: 3rem!important;
padding-top: 0rem;
}   
.pr-5, .px-5 {
padding-right: 1.5rem!important;
}
.mb-5, .my-5 {
  margin-bottom: 0rem!important;
}
.mb-3, .my-3 {
  margin-bottom: 2rem!important;
}
.copyright{
margin-bottom: 1rem;
}
.address{
font-size: 17px;
}
.p-2 {
padding-top: 0.5rem!important;
padding-bottom: 1rem;
}
.myknot-logo-footer{
width: 7.5rem;
height: 4.5rem;

}
.container-fluid-foot {
background-color: black;

}
.footer-links{
cursor: pointer;
color: white;
}
.footer-links:hover{
cursor: pointer;
color: #00bfff;
}
.top-part {
background-color:black;
}

.center-content {
margin-top: 120px;
margin-bottom: 120px
}

@media (max-width: 600.98px) {
.row-foot{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -11px;
margin-left: -40px;
}
}
.btn-pink {
border-radius: 0;
background-color: #FF4081;
color: #fff !important;
letter-spacing: 2px;
padding: 10px;
padding-right: 20px;
padding-left: 20px
}

.btn-pink:hover {
background-color: #F50057
}

.line {
border-top: 2px solid  #00bfff;
width: 100% !important;
}

.fa-mobile {
font-size: 20px
}


.grey-text {
color:  #00bfff;
}
.details{
text-decoration: none;
font-weight: bold;
font-size: medium;
color:white;
font-family: 'Roboto Condensed', sans-serif;
}
.details:hover{
color: #00bfff;
}
@media (max-width: 385px) {  
.details{
text-decoration: none;
font-weight: bold;
font-size: small;
color:white;
font-family: 'Roboto Condensed', sans-serif;
}
}     
